<template>
  <div class="dropdown" v-if="options">

    <!-- Dropdown Input -->
    <div class="inline">
      <input id="input"
             class="dropdown-input close"
             :name="name"
             @focus="showOptions()"
             @blur="exit()"
             v-model="searchFilter"
             :placeholder="placeholder"/>
      <button @click.prevent="clearInput">X</button>
    </div>

    <!-- Dropdown Menu -->
    <div id="dropdown" class="dropdown-content"
         v-show="optionsShown">
      <div
          :id=option.id
          class="dropdown-item"
          @mousedown="selectOption(option)"
          v-for="(option, index) in filteredOptions"
          :key="index">
        {{ option.name || option.id || '-' }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "VSelectAutocomplete",
  props: {
    name: {
      type: String,
      required: false,
      default: 'dropdown',
      note: 'Input name'
    },
    options: {
      type: Array,
      required: false,
      default() {
        return []
      },
      note: 'Options of dropdown. An array of options with id and name',
    },
    placeholder: {
      type: String,
      required: false,
      default: 'Please select an option',
      note: 'Placeholder of dropdown'
    },
  },
  data() {
    return {
      selected: {},
      optionsShown: false,
      searchFilter: '',
      maxItem: 10,
      indexOfArray: 0,
    }
  },
  mounted() {
    this.updateByScroll();
  },
  computed: {
    filteredOptions: function () {
      const filtered = [];
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.indexOfArray = 0;
      const regOption = new RegExp(this.searchFilter, 'igu');
      for (const option of this.options) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.indexOfArray++;
        if (filtered.length === this.maxItem) {
          return filtered;
        }
        if (this.searchFilter.length < 1 || option.name.match(regOption)) {
          if (filtered.length < this.maxItem) filtered.push(option);
        }
      }
      return filtered;
    }
  },
  methods: {
    getOptions() {
      if (this.indexOfArray > this.maxItem) {
        // eslint-disable-next-line vue/no-mutating-props
        this.maxItem = this.maxItem + 10;
      }
    },
    updateByScroll() {
      const scrollEl = document.getElementById('dropdown')
      scrollEl.addEventListener('scroll', () => {
        if (scrollEl.scrollHeight < (scrollEl.offsetHeight + scrollEl.scrollTop)) {
          this.getOptions()
        }
      })
    },
    selectOption(option) {
      this.selected = option;
      this.optionsShown = false;
      this.searchFilter = this.selected.name;
      this.$emit('selected', this.selected);
    },
    clearClass(dropdownItems) {
      for (const item of dropdownItems) {
        item.classList.remove('focus')
      }
    },
    showOptions() {
      this.searchFilter = '';
      this.optionsShown = true;
      let active = -1
      const dropdownItems = document.getElementsByClassName("dropdown-item")
      const input = document.getElementById('input')
      input.classList.add('open')
      input.classList.remove('close')
      document.addEventListener('keydown', (e) => {
        if (this.optionsShown) {
          if (e.key === 'ArrowDown') {
            if (active < dropdownItems.length - 1) {
              active++
              document.getElementById(`${this.filteredOptions[active].id}`).scrollIntoView({
                behavior: 'smooth'
              })
              this.clearClass(dropdownItems)
              dropdownItems[active].classList.add('focus')
            }
          } else if (e.key === 'ArrowUp') {
            if (active > 0) {
              active--
              this.clearClass(dropdownItems)
              dropdownItems[active].classList.add('focus')
              document.getElementById(`${this.filteredOptions[active].id}`).scrollIntoView({
                behavior: 'smooth'
              })
            }
          } else if (e.key === 'Enter') {
            if (this.filteredOptions.length) {
              this.selectOption(this.filteredOptions[active])
              this.clearClass(dropdownItems)
              this.optionsShown = false;
              document.getElementById('input').blur()
              input.classList.remove('open')
              input.classList.add('close')
            } else {
              this.exit()
            }
          }
        }
      })
    },
    clearInput() {
      this.selected = {};
      this.searchFilter = '';
    },
    exit() {
      const input = document.getElementById('input')
      if (!this.selected.id) {
        this.selected = {};
        this.searchFilter = '';
      } else {
        this.searchFilter = this.selected.name;
      }
      this.$emit('selected', this.selected);
      this.optionsShown = false;
      input.classList.remove('open')
      input.classList.add('close')
    },
  },
  watch: {
    searchFilter() {
      if (this.filteredOptions.length === 0) {
        this.selected = {};
      }
      this.$emit('filter', this.searchFilter);
    }
  }
};
</script>


<style lang="scss" scoped>
.dropdown {
  position: relative;
  display: block;
  margin: auto;

  .inline {
    display: flex;
  }

  .dropdown-input {
    position: relative;
    background: #fff;
    cursor: pointer;
    border: 1px solid #e7ecf5;
    border-radius: 3px;
    color: #333;
    display: block;
    font-size: 1.0rem;
    padding: 6px;
    min-width: 250px;
    max-width: 250px;

    &.open:after {
      position: absolute;
      width: 48px;
      height: 48px;
      content: url("../images/uparrow.svg");
    }

    &.close:after {
      position: absolute;
      width: 48px;
      height: 48px;
      content: url("../images/downarrow.svg");
    }

    &:hover {
      background: #f8f8fa;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: #fff;
    min-width: 248px;
    max-width: 248px;
    max-height: 248px;
    border: 1px solid #e7ecf5;
    box-shadow: 0px -8px 34px 0px rgba(0, 0, 0, 0.05);
    overflow: auto;
    z-index: 1;

    .dropdown-item {
      color: black;
      font-size: 0.9rem;
      line-height: 1rem;
      padding: 8px;
      text-decoration: none;
      display: block;
      cursor: pointer;

      &:hover {
        background-color: #e7ecf5;
      }

      &.focus {
        background-color: #e7ecf5;
      }
    }
  }

  .dropdown:hover {
    display: block;
  }
}
</style>

