<template>
  <div id="app">
    <v-select-autocomplete :options="dataList"/>
  </div>
</template>

<script>
import VSelectAutocomplete from "@/components/VSelectAutocomplete";

export default {
  name: 'App',
  components: {
    VSelectAutocomplete,
  },
  data() {
    return {
      dataList: [
        {id: '', name:''}
      ],
    }

  },
  created() {
    this.getData()
  },
  methods: {
    async getData(){
      this.dataList = []
      let response = await fetch('https://jsonplaceholder.typicode.com/photos')
      let testData = await response.json();

      for (let data of testData) {
        let list ={
          id: data.id,
          name: data.title,
        }
        this.dataList.push(list)
      }
    }
  }
}
</script>

<style>

</style>
